@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --red: rgb(226, 14, 14);
}

.lightmode {
    --bg-color: #ffff;
    --second-bg-color: #e3e3e3;
    --text-color: #00000;
    --red: rgb(226, 14, 14);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
/* ******************************header****************** */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img{
    position: absolute;
    top: 10px;
    left: 20rem;
    width: 5%;
    cursor: default;
}

.header .logo:nth-child(2) {
    display: none;
}

.lightmode .logo:nth-child(1) {
    display: none;
}

.lightmode .logo:nth-child(2) {
    display: block;
}

.navbar a {
    position: relative;
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--red);
    font-weight: 700;
    font-size: 3rem;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: var(--red);
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .3s;
}

.navbar a:hover:after {
    transform: translateY(0);
    opacity:1;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--bg-color);
    position: absolute;
    right: 50px;
    cursor: pointer;
}

#theme-switch i:first-child {
    display: none;
}

#theme-switch i:last-child {
    color: var(--text-color);
}

.lightmode #theme-switch i:last-child {
    display: none;
}   

.lightmode #theme-switch i:first-child {
    display: block;
    
}   

/* ******************************home****************** */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    margin-right: -150px;
    margin-top: -51px;
    width: 50vw;
}

.home-img img:nth-child(2) {
    display: none;
}

.lightmode .home-img img:nth-child(1) {
    display: none;
}

.lightmode .home-img img:nth-child(2) {
    display: block;
    margin-top: -10px;
    height: 90vh;
}


.home-content h3 {
    font-size: 4rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--red);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: .2rem solid var(--red);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--red);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s  ease;
}

.social-media a:hover {
    background-color: var(--red);
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--red);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--red);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--red);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow:  none;
}

/* ******************************about****************** */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img{
    width: 33.5vw;
}

.about-img img:nth-child(2) {
    display: none;
}

.lightmode .about-img img:nth-child(1) {
    display: none;
}

.lightmode .about-img img:nth-child(2) {
    display: block;
}


.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* ******************************services****************** */

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    height: 500px;
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: 0.5s ease;
}

.services-container .services-box:hover {
    border-color: var(--red);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--red);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* ******************************Portfolio****************** */

.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--red));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0%);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .4rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* ******************************Contact****************** */
.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    border-radius: 0.8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* ******************************footer****************** */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--red);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--red);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
